# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# PyCharm / JetBrains
.idea/
*.iml
*.iws
out/

# Data & caches (можна додати/видалити залежно від потреб)
data/processed/*.npy
data/processed/*.pkl
*.cache/
*.log
*.tmp

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Miscellaneous
*.bak
*.swp
*.swo